* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1700px;
  margin: 0 auto;
  padding: 1.4rem 0;
}

/* NavBar */

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Fira Sans", sans-serif;
  border-bottom: gray solid 2px;
}

.right-nav-list {
  display: flex;
}

.right-nav-list-item {
  padding: 0 1rem;
  list-style: none;
}

.burger-menu {
  display: none;
}

/* Hero Section */

.hero-section {
  font-family: "Fira Sans", sans-serif;
}

.hero-section-text {
  width: 43%;
}

.hero-header-container {
  margin-top: 2rem;
}

.hero-header,
.hero-header-2 {
  font-size: 90px;
}

.hero-heading {
  margin-bottom: 1rem;
  line-height: 25px;
}

.hero-description {
  line-height: 25px;
}

.hero-btn {
  background-color: black;
  color: white;
  border-radius: 6px;
  padding: 8px;
  border: 1px solid black;
  margin-top: 2rem;
}

/* Mobile response */
@media (max-width: 768px) {
  .hero-header,
  .hero-header-2 {
    font-size: 60px;
  }
  .hero-header-2 {
    margin-bottom: 1.5rem;
  }

  .hero-heading {
    margin-bottom: 1.5rem;
  }

  .hero-section-text {
    width: 70%;
    margin: 0 auto;
  }

  .burger-menu {
    display: block;
  }

  .right-nav-list {
    display: none;
  }
}
