* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1700px;
  margin: 0 auto;
  padding: 1.4rem 0;
}

/* NavBar */

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Fira Sans", sans-serif;
  border-bottom: gray solid 2px;
}

.right-nav-list {
  display: flex;
}

.right-nav-list-item {
  padding: 0 1rem;
  list-style: none;
}

.burger-menu {
  display: none;
}

/* Hero Section */

.hero-section {
  font-family: "Fira Sans", sans-serif;
}

.hero-section-text {
  width: 43%;
}

.hero-header-container {
  margin-top: 2rem;
}

.hero-header,
.hero-header-2 {
  font-size: 90px;
}

.hero-heading {
  margin-bottom: 1rem;
  line-height: 25px;
}

.hero-description {
  line-height: 25px;
}

.hero-btn {
  background-color: black;
  color: white;
  border-radius: 6px;
  padding: 8px;
  border: 1px solid black;
  margin-top: 2rem;
}

/* About Section */

.about-intro {
  border: solid 2px red;
  width: 70%;
  font-family: "Fira Sans", sans-serif;
  display: flex;
  column-gap: 20rem;
  margin-bottom: 5rem;
}

.about-header-one {
  color: #4400ff;
  font-size: 16px;
  margin-bottom: 0.5rem;
}

.border {
  height: 1px;
  width: 50px;
  border: solid 1.8px #4400ff;
  margin-top: 0.4rem;
}

.about-text {
  line-height: 25px;
}

.about-list {
  font-family: "Fira Sans", sans-serif;
  display: flex;
  margin-top: 2rem;
}

.about-list-item {
  display: flex;
}

.about-paragraph {
  line-height: 25px;
}

.purple {
  color: #4400ff;
}

/* Mobile response */
@media (max-width: 768px) {
  .navbar-container {
    width: 90%;
    margin: 0 auto;
  }
  .hero-header,
  .hero-header-2 {
    font-size: 60px;
  }
  .hero-header-2 {
    margin-bottom: 1.5rem;
  }

  .hero-heading {
    margin-bottom: 1.5rem;
  }

  .hero-section-text {
    width: 70%;
    margin: 0 auto;
  }

  .burger-menu {
    display: block;
  }

  .right-nav-list {
    display: none;
  }

  .right-nav-list.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    background: white;
    padding: 1.5rem 0;
    border-bottom: 2px solid gray;
    gap: 1.5rem;
    text-align: center;
  }

  .right-nav-list-item {
    font-size: 1.2rem;
    cursor: pointer;
  }
}
